body{
    font-family: 'Montserrat', sans-serif;
}
.img_responsive{
    max-width: 100%;
}
.hero_image{
    background-image: url(https://media.istockphoto.com/photos/healthy-fresh-vegetables-frame-copy-space-picture-id1249223936?b=1&k=20&m=1249223936&s=170667a&w=0&h=hxKD4SC8LPwZoIDkyMo894U2qxZl7WAVbJm3Zcme-8M=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} 
.hero_wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero_wrapper h1{
     font-size: 2.4rem;
     text-align: center;
}
.hero_wrapper span{
    margin-left: 5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form_code{
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;
}
.form_code button{
    width: 40%;
    text-align: center;
    background-color: #00bab1;
    color: white;
    padding: 0.5rem;
    margin: 1rem auto 0rem;
    border: none;
    border-radius: .3rem;
}

/* Product Section */

.product{
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.product_list_item{
    float: left;
    width: 30%;
    margin-left: 1rem;
}
.product_list_item:first-of-type{
    margin-left: 0;

}

@media screen and (max-width: 700px){
    .product_list_item{
        width: 100%;
        float: none;
    }
}